{{ ansible_managed|comment }}

{% if dnsmasq_dns_search is defined %}
search{% for item in dnsmasq_dns_search %} {{ item }}{% endfor %}
{% endif %}

{% if dnsmasq_enable_forwarders %}
{%   for item in dnsmasq_nameservers %}
nameserver {{ item }}
{%   endfor %}
{% endif %}